/* .App {
  display: inline-block;
  background-color: rgb(252, 159, 92);
  height: 100%;
} */

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.header {
  background-color: orange;
  position: fixed;
  top: 0px;
  bottom: 57px;
  height: 57px;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.App-link {
  color: #61dafb;
}

.input-section {
  position: fixed;
  top: 57px;
  left: 0;
  bottom: 0;
  width: 50%;
  height: calc(100vh - 57px);
  overflow: auto;
  resize: none;
  /* box-shadow: -10px 2px 6px 10px rgba(0, 0, 0, 0.4); */
}

.preview-section {
  /* float: right;
  height: 100vh;
  width: 50vw; */
  position: fixed;
  top: 57px;
  right: 0;
  left: 50%;
  bottom: 0;
  overflow: auto;
  padding: 10px;
  padding-left: 10px;
  color: #444;
  line-height: 1.5em;
}

/* .row{
  width: 100%;
  margin: 0 auto;
}

.block {
  width: 40vw;
  float: left;
  margin: 10px
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
